.carrito-imagen {
    height: 30px;
    width: 30px;
  }

  .carrito-container {
    color: white;
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
  }

  .logo-texto {
    color: #efb810;
    padding-right: 3%;
    font-size: x-large;
    font-stretch: expanded;
    letter-spacing: 0.1em;
  }